<body>
    <div class="container-fluid position-relative d-flex p-0">
      <!-- Spinner Start -->
      <div
        *ngIf="isLoading"
        id="spinner"
        class="bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
      >
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <!-- Spinner End -->
  
      <!-- Register Start -->
      <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
          <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
              <div class="d-flex align-items-center justify-content-between mb-3">
                <a href="index.html" class="">
                  <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DarkPan</h3>
                </a>
                <h3>Register</h3>
              </div>
  
              <!-- Register Form -->
              <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingFirstName"
                    formControlName="firstName"
                    placeholder="First Name"
                  />
                  <label for="floatingFirstName">First Name</label>
                </div>
  
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingLastName"
                    formControlName="lastName"
                    placeholder="Last Name"
                  />
                  <label for="floatingLastName">Last Name</label>
                </div>
  
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingLogin"
                    formControlName="login"
                    placeholder="Login"
                  />
                  <label for="floatingLogin">Login</label>
                </div>
  
                <div class="form-floating mb-3">
                  <input
                    type="password"
                    class="form-control"
                    id="floatingPassword"
                    formControlName="password"
                    placeholder="Password"
                  />
                  <label for="floatingPassword">Password</label>
                </div>
  
                <div class="mb-3">
                  <label for="fileInput" class="form-label">Upload Profile Picture</label>
                  <input type="file" class="form-control" id="fileInput" (change)="onFileSelected($event,'image')" />
                </div>
                <div class="form-floating mb-3">
                  <select class="form-select" id="floatingRole" formControlName="role">
                    <option value="0">Student</option>
                    <option value="1">Teacher</option>
                  </select>
                  <label for="floatingRole">Role</label>
                </div>
                
                <div class="mb-3" *ngIf="registerForm.get('role')?.value === '1'">
                  <label for="cvInput" class="form-label">Upload CV</label>
                  <input type="file" class="form-control" id="cvInput" (change)="onFileSelected($event, 'cv')" />
                </div>
                <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Register</button>
              </form>
              <p class="text-center mb-0">{{ message }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Register End -->
    </div>
  </body>
  